body{
    background-color: #487eb0;
    margin: 0;
    padding: 0;
}
nav{
    background: #fff;
    margin-left: 30%;
    margin-right: 30%;
    position: fixed;
    bottom: 0;
    border-radius: 3%;
}
ul{
    display: inline-block;
}
li{
    font-family: Roboto;
    font-weight: bold;
    letter-spacing: 3px;
    display: inline-block;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    transition: color 0.5s, background-color 0.5s, transform 0.5s;
}
li .underline{
    height: 1px;
    margin-top: 10px;
    background-color: pink;
}
li:hover{
    background-color: rgb(156, 156, 156);
    border-radius: 5px;
    color: #fff;
    transform: scale(1.05);
}
li:hover .underline{
    background-color: rgb(241, 201, 208);
    height: 3px;
}